.header
  display block
  width 600px
  height 400px
  margin 0 auto
  @extend .bg-border
  active(true)


.head-title
  color-title(false)
  font-size font-title
  letter-spacing .5px
  text-align center
  line-height 400px
